bin
gen
obj


*.iml
.gradle
.idea
.cxx
gradle
gradle.properties
gradlew
gradlew.bat
local.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
